{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'portfolio/t.css' %}">
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item flex-item-1">
            this is the first article that i write about you
        </div>
        <div class="flex-item flex-item-2"><img src ="{% static 'portfolio/Sample Picture - Koala.jpg' %}"></div>

        <div class="flex-item flex-item-3"></div>
        <div class="flex-item flex-item-4"></div>
    </div>
</body>
</html>