{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'portfolio/t.css' %}">
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <div class="flexbox-container">
        <div class="flexbox-item flexbox-item-1">
            this is the first article that i write about you
        </div>
        <div class="flexbox-item flexbox-item-2"></div>
        <div class="flexbox-item flexbox-item-3"></div>
        <div class="flexbox-item flexbox-item-4"></div>
    </div>
</body>
</html>